<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    <div id="overDiv" style="position:absolute; visibility:hidden; z-index:1000;"></div>

    <!-- InstanceBeginEditable name="badge" -->
    <div class="topheader" ><img src="/assets/images/wavebubble/topheaderbadge.png" width="171" height="190"></div>
    <!-- InstanceEndEditable -->
    <span class="topheadertext"><!-- InstanceBeginEditable name="heading" -->x0xb0x<!-- InstanceEndEditable --></span>
    <span class="topsubheadertext"><!-- InstanceBeginEditable name="Subheading" -->User Manual: Developing firmware <!-- InstanceEndEditable --></span>

    <ul id="menu">
        <li class="first"></li>
        <li><div class="menuitemtext"><a href="index.html">About</a></div> </li>
        <li> <div class="menuitemtext"><a href="FAQ.html">F.A.Q.</a></div> </li>
        <li><div class="menuitemtext"><a href="samples.html">Samples</a></div> </li>
        <li><div class="menuitemtext"><a href="gallery.html">Gallery</a></div> </li>
        <li><div class="menuitemtext"><a href="mods.html">Mods</a></div> </li>
        <li> <div class="menuitemtext"><a href="fab/index.html">Make it! </a></div> </li>
        <li> <div class="menuitemtext"><a href="manual/index.html">Use it! </a></div> </li>
        <li><div class="menuitemtext"><a href="http://sourceforge.net/projects/x0xb0x/">Firmware</a></div></li>
        <li><div class="menuitemtext"><a href="software/index.html">Software</a></div> </li>
        <li><div class="menuitemtext"><a href="download.html">Download</a></div> </li>
        <li><div class="menuitemtext"><a href="resc.html">Resources</a></div> </li>
        <li><div class="menuitemtext"><a href="http://forums.ladyada.net/" target="_blank">Forums</a></div></li>
        <li> <div class="menuitemtext"><a href="http://www.ladyada.net/wiki/x0x:x0xd0x">Wiki</a></div> </li>
        <li class="last"></li>
    </ul>

    <div id="lefttcol">
        <!-- this is just a buffer -->
    </div>
    <article class="post-content">
        {{ content }}
    </article>

    <div class="page-content">
      <div class="body-wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
